sudo: false
language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install codecov

script:
  - nosetests --with-coverage --cover-package nlpre

after_success:
  - codecov