# NLP core libraries
unidecode
pyparsing
flashtext

# Pattern has two separate versions depending on python 2/3
pattern ; python_version <= '2.8'
git+https://github.com/clips/pattern@development ; python_version >= '3.6'

# For Python 2/3 compatibility
six
